
<% if @movies.empty? %>
  <p>Not found</p>
<% end %>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie["title"] %>
      <%= movie["year"] %>
      <%= movie["id"] %>
    </li>
    <% if !movie["synopsis"].empty? %>
      <ul>
        <li>
          <%= movie["synopsis"] %>
        </li>
      </ul>
    <% end %>
  <% end %>
</ul>
