
<% if @movies.empty? %>
  <p>Not found</p>
<% end %>


<% @movies.each do |movie| %>
  <div>
    <%= movie["title"] %>
    <%= movie["year"] %>
  <% if !movie["synopsis"].empty? %>
      <%= movie["synopsis"] %>
  <% end %>
  </div>
<% end %>
